@font-face {
  font-family: 'norsebold';
  src:
    url('./fonts/norse-bold-webfont.woff2') format('woff2'),
    url('./fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src:
    url('./fonts/roboto-medium-webfont.woff2') format('woff2'),
    url('./fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium_italic';
  src:
    url('./fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
    url('./fonts/roboto-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src:
    url('./fonts/roboto-light-webfont.woff2') format('woff2'),
    url('./fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 2.5rem 'robotomedium', sans-serif;
}

p {
  line-height: calc(1ex / 0.32);
}

button,
input {
  font-size: 100%;
}

input {
  font-family: 'robotolight', sans-serif;
}

button {
  font: inherit;
  border: none;
  color: rgb(254 254 254);
  background-color: rgb(86 122 51 / 97%);
  padding: 1rem 4rem;
  border-radius: 15px;
}

button + p {
  margin-top: 2rem;
  font-size: 1.8rem;
}

button,
button + p > span {
  cursor: pointer;
}

button + p > span {
  color: rgb(47 112 47);
}

label {
  font-size: 1.2rem;
}

p > span {
  font-family: 'robotomedium_italic', sans-serif;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.logo-container {
  flex: auto;
  position: relative;
  display: flex;
}

.logo-container > img {
  height: 100%;
  max-width: 100%;
  flex: 1;
  position: relative;
}

.logo {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  height: auto;
  width: 100%;
}

.logo > img {
  padding: 1rem;
  height: auto;
  width: 25%;
}

.logo > p {
  font: 10rem 'norsebold';
  color: aliceblue;
}

.content-container {
  flex: 2 2 auto;
  height: auto;
  width: 100%;
  background-color: rgb(236 241 241 / 97%);
}

.content {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.greetings > p + p {
  margin-bottom: 2rem;
}

.form-container {
  background-color: rgb(255 255 255 / 94%);
  padding: 2.5rem 5rem 5rem 5rem;
  margin-bottom: 4rem;box-shadow: rgb(0, 0, 0, 0.157) 0 5px 5px;
}

.greetings,
.footer-container {
  padding-left: 5rem;
}

form > p {
  margin-bottom: 2rem;
}

.controls-container {
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

input {
  width: 50%;
  resize: vertical;
  border-radius: 5px;
  border: solid rgb(227 219 219);
  background-color: rgb(255 249 249 / 26%);
}

input:focus {
  outline-color: rgb(51, 51, 239, 0.889);
}

input:invalid {
  outline-color: rgb(237, 55, 55);
}

label {
  font-size: 1.7rem;
}

.field {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
